@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 230 15% 2.5%;
    --foreground: 210 20% 96%;
    
    --card: 230 15% 3%;
    --card-foreground: 210 20% 96%;
    
    --popover: 230 15% 3%;
    --popover-foreground: 210 20% 96%;
    
    --primary: 200 100% 85%; /* frozen light blue */
    --primary-foreground: 230 20% 10%;
    
    --secondary: 230 10% 12%;
    --secondary-foreground: 210 20% 96%;
    
    --muted: 230 10% 12%;
    --muted-foreground: 220 10% 60%;
    
    --accent: 200 100% 80%; /* same frozen light blue */
    --accent-foreground: 230 20% 10%;
    
    --destructive: 0 70% 40%;
    --destructive-foreground: 210 20% 96%;
    
    --border: 230 10% 12%;
    --input: 230 10% 12%;
    --ring: 200 100% 75%; /* frozen light blue for ring */
    
    --chart-1: 200 100% 80%; /* frosty blue */
    --chart-2: 180 70% 60%;
    --chart-3: 30 80% 55%;
    --chart-4: 260 70% 70%;
    --chart-5: 330 70% 65%;
    
    --radius: 0.7rem;
    
    --sidebar-background: 230 15% 4%;
    --sidebar-foreground: 210 20% 96%;
    --sidebar-primary: 200 100% 80%;
    --sidebar-primary-foreground: 230 20% 10%;
    
    --sidebar-accent: 230 10% 12%;
    --sidebar-accent-foreground: 210 20% 96%;
    
    --sidebar-border: 230 10% 12%;
    --sidebar-ring: 200 100% 75%;
    
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html,
  body {
    -ms-overflow-style: none; /* For Internet Explorer */
    scrollbar-width: none; /* For Firefox */
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none; /* Hide scrollbars for webkit browsers (Chrome, Safari) */
  }
}
